<h1>Patients#new</h1>
<p>Find me in app/views/patients/new.html.erb</p>
<%= form_for(@patient) do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.submit("Save") %>
</p>
<% end %>
