<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>
<%= link_to "+ New", new_doctor_path %>
<% @doctors.each do |doctor| %>
  <h2><%= link_to doctor.name, doctor %></h2>
<% end %>
